body{
    background-image: url("background-piste.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2{
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.3);
}

.container{
    padding-bottom: 20px;
    padding-top: 10px;
    border-radius: 10px;
    background-color:  rgba(100, 154, 206, 0.9);
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.3);

}

.section-container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.3);
}

footer{
    box-align: bottom;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
}

p.carousel{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: auto;
    color: black;
}

.carousel-inner {
    height: 50rem; /* Festlegen der Höhe des Carousels */
}

.carousel-item img {
    width: 100%; /* Bilder sollen die Breite ausfüllen */
    height: 100%; /* Bilder sollen die festgelegte Höhe ausfüllen */
    object-fit: cover; /* Bilder zuschneiden, um den Raum auszufüllen */
}

.list-group-item{
    background-color: rgba(150, 250, 255, 0.5);
    border-color: rgba(100, 154, 206, 0.5);
}